@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *));

html,
body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

html.dark {
	color-scheme: dark;
}
