<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>com.apple.application-identifier</key>
    <string>com.apple.imagent</string>
    <key>com.apple.imagent.chat</key>
    <true/>
    <key>com.apple.private.accounts.allaccounts</key>
    <true/>
    <key>com.apple.private.ids.idquery-cache</key>
    <true/>
    <key>com.apple.private.ids.messaging</key>
    <array>
        <string>com.apple.private.alloy.avconference.avctester</string>
        <string>com.apple.private.alloy.sms.watch</string>
        <string>com.apple.private.alloy.sms</string>
        <string>com.apple.private.alloy.biz</string>
        <string>com.apple.private.alloy.gelato</string>
        <string>com.apple.private.alloy.nameandphoto</string>
        <string>com.apple.madrid</string>
        <string>com.apple.madrid.lite</string>
        <string>com.apple.madrid.lite.relay</string>
    </array>
    <key>com.apple.private.ids.messaging.high-priority</key>
    <array>
        <string>com.apple.private.alloy.avconference.avctester</string>
        <string>com.apple.private.alloy.sms.watch</string>
        <string>com.apple.private.alloy.sms</string>
        <string>com.apple.private.alloy.biz</string>
        <string>com.apple.private.alloy.gelato</string>
        <string>com.apple.private.alloy.nameandphoto</string>
        <string>com.apple.madrid</string>
        <string>com.apple.madrid.lite</string>
        <string>com.apple.madrid.lite.relay</string>
    </array>
    <key>com.apple.private.ids.registration</key>
    <array>
        <string>com.apple.madrid</string>
        <string>com.apple.madrid.lite</string>
        <string>com.apple.madrid.lite.relay</string>
        <string>com.apple.ess</string>
        <string>com.apple.private.ac</string>
    </array>
    <key>com.apple.private.ids.remoteurlconnection</key>
    <true/>
    <key>com.apple.private.imcore.imessage</key>
    <true/>
    <key>com.apple.private.imcore.imdmessageservices</key>
    <true/>
    <key>com.apple.private.imcore.imdpersistence.database-access</key>
    <true/>
    <key>com.apple.private.imcore.imremoteurlconnection</key>
    <true/>
    <key>com.apple.private.imcore.imtransferservice</key>
    <true/>
    <key>com.apple.private.imcore.imtranscoderservice</key>
    <true/>
    <key>com.apple.private.security.storage.Messages</key>
    <true/>
    <key>com.apple.private.security.storage.MessagesMetaData</key>
    <true/>
</dict>
</plist>
